* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #8360c3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2ebf91, #8360c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.home {
    display: flex;
    flex-wrap: wrap;
}

.in-flex {
    flex: 1;
    min-width: 500px;
}

#text1 {
    color: #ffff;
    font-size: 50px;
    padding: 10px;
    text-align: center;
}

form {
    background: #000;
    padding: 10px;
    height: 80px;
}

#DownPC {
    background: #000;
    color: #ffff;
    height: 90px;
    font-size: 40px;
    border: none;
    cursor: pointer;
}

.update {
    font-size: 30px;
    padding: 20px;
    font-weight: 700;
}

.text01 {
    font-size: 20px;
    padding: 10px;
}